[Unit]
Description=Send Gotify notification if Card Tracker stops

[Service]
Type=oneshot
ExecStart=/home/paccoco/project-card-tracker/gotify_notify.sh %I
