[Unit]
Description=Send Gotify notification if Card Tracker stops

[Service]
Type=oneshot
ExecStart=/home/paccoco/MoP-Inscription-Deck-Tracker/gotify_notify.sh %I
